/* styles/WeeklyReportPage.module.css */
  
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem; /* Added for spacing */
}

.input:focus {
  outline: none;
  border-color: #3178c6;
  box-shadow: 0 0 0 2px rgba(49, 120, 198, 0.2);
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a045;
}

.feedback {
  padding: 10px 15px;
  background-color: #f9f9f9;
  border-left: 5px solid #3178c6;
  color: #333;
  margin: 5px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.feedback:hover {
  background-color: #f1f1f1;
}
  

  
  
  .progress-bar-container {
    width: 100%; /* コンテナの幅 */
    background-color: #E0E0E0; /* 背景色 */
    border-radius: 9999px; /* 丸みを極端に */
    overflow: hidden; /* 内部要素がはみ出さないように */
    margin-bottom: 2rem; /* 下の余白 */
  }
  
  .progress-bar {
    width: 40%; /* プログレスの幅 */
    background: linear-gradient(90deg, #948bbd 50%, #5ba5eb 100%); /* グラデーションの設定 */
    text-align: center; /* テキストの位置 */
    line-height: 2rem; /* ラインの高さ */
    color: white; /* テキストの色 */

  }